* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: "Open Sans", sans-serif;
	background-color: whitesmoke;
}

main {
	height: 100%;
}

/*  shared */
section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.card {
	padding: 10px;
	width: 300px;
	border: #1378bd 1px solid;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #1378bd;
	background-color: white;
}

.card h1 {
	text-align: center;
	margin-bottom: 16px;
	text-shadow: 1px 1px 1px lightblue;
}

.btn {
	padding: 10px;
	background-color: whitesmoke;
	border: 1px solid darkgray;
	border-radius: 8px;
}

.primary-btn {
	background-color: #1378bd;
	color: white;
	border: none;
}

.hide {
	display: none;
}

/* forms */
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding: 20px;
	font-size: 18px;
	color: #1378bd;
}

form label {
	display: inline-block;
	margin-top: 10px;
	font-weight: bold;
}

form input {
	padding: 2px 4px;
	height: 32px;
	width: 100%;
	border: none;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: none;
}

form button {
	width: 100%;
	font-size: 18px;
	margin-top: 24px;
}

.validation-msg {
	font-size: 12px;
	color: red;
}

/* navbar */
nav {
	position: relative;
	display: flex;
	align-items: center;
	height: 56px;
	background-color: #1378bd;
	color: white;
}

.nav-logged {
	position: absolute;
	right: 0;
}

nav a {
	padding: 0 20px;
	text-decoration: none;
	color: white;
	font-size: 16px;
}

/* home page */
.welcome-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 10px;
	font-size: 18px;
	font-weight: bold;
	color: #1378bd;
}

.welcome-img {
	margin-right: 10px;
	width: 35%;
	float: left;
}

.patronage-name {
	margin: 8px;
	font-size: 24px;
	text-align: center;
}

@media (min-width: 768px) {
	.card {
		width: 700px;
	}

	/* form */

	form {
		padding: 30px;
	}

	form div {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	form input {
		margin: 8px 0;
		width: 70%;
	}

	form label {
		display: inline;
		padding-right: 8px;
		margin-top: 0px;
		width: 30%;
		font-weight: bold;
		text-align: right;
	}

	.validation-msg {
		width: 70%;
		margin: 0 0 0 auto;
	}

	/* login form */

	#login form input {
		width: 58%;
	}

	#login form label {
		width: 42%;
	}

	#login .validation-msg {
		width: 58%;
		margin: 0 0 0 auto;
	}

	/* home page */
	.welcome-card {
		padding: 30px;
		font-size: 24px;
		text-align: center;
	}

	.welcome-card div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.welcome-img {
		margin-right: 0;
	}

	.patronage-name {
		margin: 0;
		font-size: 36px;
	}
}
