* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: "Open Sans", sans-serif;
	background-color: whitesmoke;
}

main {
	height: 100%;
}

/*  shared */
section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.card {
	padding: 10px;
	width: 300px;
	border: #1378bd 1px solid;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #1378bd;
	background-color: white;
}

.form-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 30px;
	font-size: 18px;
	color: #1378bd;
}

.card h1 {
	text-align: center;
	margin-bottom: 16px;
	text-shadow: 1px 1px 1px lightblue;
}

.card label {
	display: inline-block;
	margin-top: 10px;
	font-weight: bold;
}

.card input {
	padding: 2px 0;
	width: 100%;
	border: none;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: none;
}

.card button {
	width: 100%;
	font-size: 18px;
	margin-top: 32px;
	margin-bottom: 16px;
}

.btn {
	padding: 10px;
	background-color: whitesmoke;
	border: 1px solid darkgray;
	border-radius: 8px;
}

.primary-btn {
	background-color: #1378bd;
	color: white;
	border: none;
}

.hide {
	display: none;
}
.validation-msg {
	font-size: 12px;
	color: red;
}

/* navbar */
nav {
	position: sticky;
	display: flex;
	align-items: center;
	height: 56px;
	background-color: #1378bd;
	color: white;
}

.nav-logged {
	position: absolute;
	right: 0;
}

nav a {
	padding: 0 20px;
	text-decoration: none;
	color: white;
	font-size: 16px;
}

/* home page */
.welcome-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	font-size: 18px;
	font-weight: bold;
	color: #1378bd;
}
.welcome-img {
	margin-right: 10px;
	width: 35%;
	float: left;
}

.patronage-name {
	margin: 5px;
	font-size: 24px;
	text-align: center;
}

@media (min-width: 768px) {
	.card {
		width: 600px;
	}

	.card form {
		width: 70%;
	}

	.card input {
		margin: 4px 0;
		height: 32px;
	}

	/* home page */
	.welcome-card {
		height: 300px;
		font-size: 24px;
		text-align: center;
	}

	.welcome-card div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.patronage-name {
		font-size: 36px;
	}
}
